<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container-fluid">
    <div class="header-body">
      <h1>
        Nuevo logo
      </h1> 
    </div>
  </div>  
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <button type="button" class="btn btn-primary" routerLink="/logoes/list">Regresar</button>
        </div>
        <div *ngIf="messagefalse" class="alert alert-danger" id="message">
          <li>{{messagefalse}}</li>
        </div>
        <div *ngIf="messagetrue" class="alert alert-success" id="message">
          <li>{{messagetrue}}</li>
        </div>
        <div class="table-responsive">
          <hr>
          <div class="container">
            <div class="file-upload">
              <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Agregar Imagen</button>
            
              <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' (keyup)="readURL(this);" accept="image/*"/>
                <div class="drag-text">
                  <h3>Click para agregar imagen</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Eliminar <span class="image-title">Eliminar imagen</span></button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Nombre</label>
              <input name="nombre" [(ngModel)]="NameLogo" type="Text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">Descripción</label>
              <input name="decription" [(ngModel)]="Description" type="Text" class="form-control">
            </div>

            <label for="">Compañia</label>
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="IdCompany" id="Select-Company">
                <option *ngFor="let company of listcompanies" value={{company.IdCompany}}>{{company.CompanyName}}</option>
              </select>
            </div>

            <label for="">Valor de logo</label>
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="IdValueLogo" id="Select-Valuelogo">
                <option *ngFor="let valuelogo of listvaluelogos" value={{valuelogo.IdValueLogo}}>{{valuelogo.Name}}</option>
              </select>
            </div>

            <label for="">Colores de prenda</label>
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="IdGarmentColor" id="Select-GarmentColor">
                <option *ngFor="let garmentcolor of listgarmentcolor" value={{garmentcolor.IdGarmentColor}}>{{garmentcolor.Name}}</option>
              </select>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 ">
                <h2>Adjunto</h2>
              </div>              
            
              <div class="col-md-10 col-md-offset-1 dropfile">
                <form method="POST" action="upload.php" enctype="multipart/form-data">
                  <input type="file" name="file[]" multiple>
                </form>
              </div>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-success" (click)="Guardar();">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>